body{
	font-family: 'Lato', sans-serif;
}
.carousel{
	margin-bottom: 30px;
	width: 90%;
	margin: 0 auto;
}
.content {
	width: 90%;
	margin: 0 auto;
	height: 200px;
	text-align: center;
	color: #575752;
}
.maincontent {
	font-style: normal;
	font-weight: normal;
	font-size: 1.3em;
	width: 70%;
	margin: 0 auto;
	text-align: justify;
	padding: 10px 0 0 25px;
	text-decoration: none;	
}
.leading {
	padding: 30px 0 0 200px;
}
.offerimages > img {
	padding-top: 20px;
}
.list-unstyled > li > a {
	color: inherit;
}
.footrow{
	margin-left: 0px!important;
}
.footer{
  	width: 100%;
	min-height: 160px;
	margin-top: 30px;
	padding-top: 15px;
	padding-left: 70px;
	text-decoration: none;
	color: #d5d5d2;
	background-image: url("/content/pictures/footer_pattern.jpg");
}
.footer > div > h4 {
	margin-top: 0px;
}
.footer > div > h4 > a {
	color: inherit;
}
.contact-container {
	margin-top: 6em;
	margin-bottom: 3em;
}
.navbar {
	text-transform: uppercase;
}
@media (min-width: 768px) {
  /*.footer {
  	position: absolute;
  	bottom: -600px;
  }*/
  .content {
	font-size: 1.1em;
  }
  .navbar {
  	margin-bottom: 0px!important;
  }
  .navbar-nav {
    width: 100%;
    text-align: center;
    float: none;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
  .navbar-header {
  	padding-left: 4em;
  }
}
.tab1 {
	padding-left: 6em;
}
.borderless td, .borderless th {
	border: none!important;
}
.gallery {
	margin-top: 4em!important;
	margin-bottom: 4em!important;
	width: 70%;
	margin: 0 auto;
}
.width1 {
	width: 300px!important;
}
.width2 {
	width: 150px!important;
}
.no-left-float{
	clear: left;
}
.container-fluid{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.contentrow > h3 {
	padding-left: 3em;
}